<module>
	<rawname>extaudio</rawname>
	<name>External Audio</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>Configure external audio connections for radio feeds and public address system</description>
	<menuitems>
		<extaudio>External Audio</extaudio>
	</menuitems>
</module>
